<app-header></app-header>
<form onsubmit="return false">
  <div style="padding: 8px;">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="bldgrp">Blood Group:</label><br>
  <input type="text" id="bldgrp" name="bldgrp"><br>
  <label for="age">Age:</label><br>
  <input type="number" id="age" name="age"><br>
  <label for="gender">Gender: </label><br>
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other <br>
  <br><button type="button" (click)="submit()">submit</button>
</div>
</form>
